 

        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: dimgray;
            margin: 0px;
        }

        header{
            background-color: white;
            padding: 10px;
            margin: 10px;
            }

            nav {
                background-color: rgb(139, 139, 139);
                padding: 3px;
                box-shadow: 13px 9px 20px 0px rgba(0, 0, 0, 0.319);
                border-radius: 8px;
            }

            nav > a {
                text-decoration: none;
                color: rgb(255, 251, 2);
                font-weight: bold;
                margin-right: 40px;
            }

           nav > a:visited{
                color:white;
            }

            nav > a:hover{
                text-decoration: underline;
                color: aqua;
            }

            nav > a:active {
                color: rgb(219, 7, 7 );
            }

            main{
                background-color: white;
                padding: 10px;
                margin: 10px;
                border-radius: 19px;
                box-shadow: 5px 4px 16px 1px rgba(0, 0, 0, 0.446);
            }

            article{
                background-color: lightgray;
                padding: 5px;
            }

            article > aside{
                background-color: rgb(169, 169, 169);
            }

            .oi{
                text-decoration: none;
                margin-right: 30px;
                
            }

            .oi:visited {
                color: black;
            }

            .oi:hover {
                color: chartreuse;
                text-decoration: underline;
            }

           .oi:active{
                color: rgb(219, 7, 7);
            }

            footer{
                background-color: black;
                color: white;
                padding: 6px;
                text-align: center;
                margin: 0px;
            }
            footer > p {
                margin: 0px;
            }

            #bola{
                height: 100px;
                width: 100px;
                margin: 10px;
                background-color: white;
                border-radius: 50%;
            }

            #bola > p {
                margin-left: 40px;
                padding-top: 38px;
            }